<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="public/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <header class="container-pedidos">
    <h1>Delilah Restó</h1>
    <nav>
      <li>
        <a href="#">Pedidos</a>
      </li>
      <li>
        <a href="#">Admin</a>
      </li>
      <li>
        <a href="#">Historial</a>
      </li>
      <button>CARGAR PRODUCTO</button>
    </nav>
  </header>
</body>
</html>