body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3ADDDA;
  color: white;
}

header h1 {
  margin-left: 40px;
}

nav {
  display: flex;
  margin-right: 40px;
}

nav li {
  margin: 0 10px;
}

/* login */
.container-login {
  justify-content: center;
}

.container-form-register {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.container-form-register form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-form-register input {
  width: 350px;
  margin-bottom: 10px;
  height: 40px;
}

.container-form-register label {
  text-align: left;
}

.container-form-register button {
  margin: 0 auto;
  background-color: #FC885C;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 50px;
  height: 40px;
  width: 200px;
  color: white;
  border: none;
  font-weight: bold;
  outline: none;
}

.container-form-register button:hover {
  cursor: pointer;
}

.container-form-register a {
  color: #FC885C;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 20px;
}

.container-form-register span {
  color: red;
  margin-bottom: 10px;
  display: none;
}
